In [2]:
pi=22/7
print(type(pi))

<class 'float'>

for=4
syntax error
due to for is a reserved keyword in python

In [4]:
principal_amount=1000
rate_of_interest=5
time=3
simple_interest=(principal_amount*rate_of_interest*time)/100
print(f"the simple interest is:{simple_interest}")

the simple interest is:150.0

In [5]:
def format_number(num,fmt_char):
    return format(num,fmt_char)
result=format_number(145,'o')
print(result)

221

In [ ]:
octal representation used

In [9]:
radius=84
pi=3.14
water_per_sq_meter = 1.4
area=pi*radius**2
total_water = area*water_per_sq_meter
print("area of the pond:",area,"square meters")
print("total water in the pond :",int(total_water),"liters")

area of the pond: 22155.84 square meters
total water in the pond : 31018 liters

In [10]:
distance=490
time_minutes=7
time_seconds=time_minutes*60
speed=distance/time_seconds
print(int(speed),"meters per second")

1 meters per second

In [1]:
justice_league = ["Superman", "Batman", "Wonder Woman", "Flash", "Aquaman", "Green Lantern"]
print("Initial Justice League:", justice_league)
print(f"Number of members in the Justice League: {len(justice_league)}")
new_members = ["Batgirl", "Nightwing"]
justice_league.extend(new_members)
print("After adding new members:", justice_league)
justice_league.remove("Wonder Woman")
justice_league.insert(0, "Wonder Woman")
print("After moving Wonder Woman to the beginning:", justice_league)
index_aquaman = justice_league.index("Aquaman")
index_flash = justice_league.index("Flash")
index_green_lantern = justice_league.index("Green Lantern")
justice_league.pop(index_green_lantern)
if index_aquaman < justice_league.index("Flash"):
    insertion_point = justice_league.index("Flash")
else:
    insertion_point = justice_league.index("Aquaman")
justice_league.insert(insertion_point, "Green Lantern")
print("After separating Aquaman and Flash:", justice_league)
justice_league = ["Cyborg", "Shazam", "Hawkgirl", "Martian Manhunter", "Green Arrow"]
print("After replacing with a new team:", justice_league)
justice_league.sort()
print("After sorting the list alphabetically:", justice_league)
print(f"The new leader (hero at the 0th index) is: {justice_league[0]}")

Initial Justice League: ['Superman', 'Batman', 'Wonder Woman', 'Flash', 'Aquaman', 'Green Lantern']
Number of members in the Justice League: 6
After adding new members: ['Superman', 'Batman', 'Wonder Woman', 'Flash', 'Aquaman', 'Green Lantern', 'Batgirl', 'Nightwing']
After moving Wonder Woman to the beginning: ['Wonder Woman', 'Superman', 'Batman', 'Flash', 'Aquaman', 'Green Lantern', 'Batgirl', 'Nightwing']
After separating Aquaman and Flash: ['Wonder Woman', 'Superman', 'Batman', 'Flash', 'Green Lantern', 'Aquaman', 'Batgirl', 'Nightwing']
After replacing with a new team: ['Cyborg', 'Shazam', 'Hawkgirl', 'Martian Manhunter', 'Green Arrow']
After sorting the list alphabetically: ['Cyborg', 'Green Arrow', 'Hawkgirl', 'Martian Manhunter', 'Shazam']
The new leader (hero at the 0th index) is: Cyborg

In [1]:
height = float(input("Enter height in meters: "))
weight = float(input("Enter weight in kilograms: "))
bmi = weight / (height ** 2)
if bmi >= 30:
    category = "Obesity"
elif bmi >= 25:
    category = "Overweight"
elif bmi >= 18.5:
    category = "Normal"
else:
    category = "Underweight"
print("BMI:", round(bmi, 2))
print("Category:", category)

Enter height in meters:  1.75
Enter weight in kilograms:  70

BMI: 22.86
Category: Normal

In [3]:
australia = ["Sydney", "Melbourne", "Brisbane", "Perth"]
uae = ["Dubai", "Abu Dhabi", "Sharjah", "Ajman"]
india = ["Mumbai", "Bangalore", "Chennai", "Delhi"]
city = input("Enter a city name: ").strip()
if city in australia:
    print(f"{city} is in Australia")
elif city in uae:
    print(f"{city} is in UAE")
elif city in india:
    print(f"{city} is in India")
else:
    print(f"Sorry, I don't know which country {city} belongs to.")

Enter a city name:  Bangalore

Bangalore is in India

In [4]:
australia = ["Sydney", "Melbourne", "Brisbane", "Perth"]
uae = ["Dubai", "Abu Dhabi", "Sharjah", "Ajman"]
india = ["Mumbai", "Bangalore", "Chennai", "Delhi"]
city1 = input("Enter the first city: ").strip()
city2 = input("Enter the second city: ").strip()
def find_country(city):
    if city in australia:
        return "Australia"
    elif city in uae:
        return "UAE"
    elif city in india:
        return "India"
    else:
        return None
country1 = find_country(city1)
country2 = find_country(city2)
if country1 and country2:
    if country1 == country2:
        print(f"Both cities are in {country1}")
    else:
        print("They don't belong to the same country")
else:
    print("One or both cities are not in the list")

Enter the first city:  Delhi
Enter the second city:  Delhi

Both cities are in India

In [1]:
import random

count_6 = 0
count_1 = 0
count_two_6s_in_a_row = 0

previous_roll = None
for i in range(20):
    roll = random.randint(1, 6)
    print(f"Roll {i+1}: {roll}")
    if roll == 6:
        count_6 += 1
        if previous_roll == 6:
            count_two_6s_in_a_row += 1
    if roll == 1:
        count_1 += 1

    previous_roll = roll
print("\nStatistics:")
print(f"Number of times rolled a 6: {count_6}")
print(f"Number of times rolled a 1: {count_1}")
print(f"Number of times rolled two 6's in a row:{count_two_6s_in_a_row}")

Roll 1: 5
Roll 2: 2
Roll 3: 4
Roll 4: 4
Roll 5: 3
Roll 6: 2
Roll 7: 2
Roll 8: 6
Roll 9: 2
Roll 10: 5
Roll 11: 5
Roll 12: 4
Roll 13: 6
Roll 14: 2
Roll 15: 5
Roll 16: 5
Roll 17: 6
Roll 18: 2
Roll 19: 6
Roll 20: 6

Statistics:
Number of times rolled a 6: 5
Number of times rolled a 1: 0
Number of times rolled two 6's in a row:1

In [2]:
total_jacks = 100
done_jacks = 0
set_size = 10

while done_jacks < total_jacks:
    done_jacks += set_size
    print(f"You have done {done_jacks} jumping jacks.")
    if done_jacks >= total_jacks:
        print("Congratulations! You completed the workout.")
        break
    tired = input("Are you tired? (yes/no): ").strip().lower()

    if tired in ["yes", "y"]:
        skip = input("Do you want to skip the remaining sets? (yes/no): ").strip().lower()
        if skip in ["yes", "y"]:
            print(f"You completed a total of {done_jacks} jumping jacks.")
            break
        else:
            print(f"{total_jacks - done_jacks} jumping jacks are remaining.")
    else:
        print(f"{total_jacks - done_jacks} jumping jacks are remaining.")

You have done 10 jumping jacks.

Are you tired? (yes/no):  yes
Do you want to skip the remaining sets? (yes/no):  yes

You completed a total of 10 jumping jacks.